In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
engine = create_engine(
    'mssql+pyodbc://localhost/BikeStores?driver=ODBC+Driver+17+for+SQL+Server'
    )
# engine = create_engine("mssql+pyodbc://scott:tiger@myhost:port/databasename?driver=ODBC+Driver+17+for+SQL+Server")

In [15]:
df = pd.read_sql_query(
      'Exec [dbo].[TestProc]',
  engine)

In [17]:
df

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code
0,1,Debra,Burks,None,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127
1,2,Kasha,Todd,None,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008
2,3,Tameka,Fisher,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278
3,4,Daryl,Spence,None,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820
...,...,...,...,...,...,...,...,...,...
1440,1441,Jamaal,Morrison,None,jamaal.morrison@msn.com,796 SE. Nut Swamp St.,Staten Island,NY,10301
1441,1442,Cassie,Cline,None,cassie.cline@gmail.com,947 Lafayette Drive,Brooklyn,NY,11201
1442,1443,Lezlie,Lamb,None,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722
1443,1444,Ivette,Estes,None,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424
1444,1445,Ester,Acevedo,None,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580

In [ ]:
# import pandas as pd, pyodbc    
# con_string = 'DRIVER={SQL Server};SERVER='+ <server> +';DATABASE=' + <database>
# cnxn = pyodbc.connect(con_string)
# query = """
#   SELECT <field1>, <field2>, <field3>
#   FROM result
# """
# result_port_map = pd.read_sql(query, cnxn)
# result_port_map.columns.tolist()

In [24]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(
    'mssql+pyodbc://localhost/BikeStores?driver=ODBC+Driver+17+for+SQL+Server'
    )
connection = engine.connect().connection
cursor = connection.cursor()

# cursor.execute('call storedProcName(%s, %s, ...)', params)
cursor.execute('TestProc')

# Result set 1
column_names = [col[0] for col in cursor.description] # Get column names from MySQL

df1_data = []
for row in cursor.fetchall():
    df1_data.append({name: row[i] for i, name in enumerate(column_names)})

# Result set 2
cursor.nextset()
column_names = [col[0] for col in cursor.description] # Get column names from MySQL

df2_data = []
for row in cursor.fetchall():
    df2_data.append({name: row[j] for j, name in enumerate(column_names)})

# Result set 3
cursor.nextset()
column_names = [col[0] for col in cursor.description] # Get column names from MySQL

df3_data = []
for row in cursor.fetchall():
    df3_data.append({name: row[j] for j, name in enumerate(column_names)})

# Result set 4
cursor.nextset()
column_names = [col[0] for col in cursor.description] # Get column names from MySQL

df4_data = []
for row in cursor.fetchall():
    df4_data.append({name: row[j] for j, name in enumerate(column_names)})


cursor.close()

df1 = pd.DataFrame(df1_data)
df2 = pd.DataFrame(df2_data)
df3 = pd.DataFrame(df3_data)
df4 = pd.DataFrame(df4_data)

In [25]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)

(1445, 9)
(9, 2)
(7, 2)
(1615, 8)